<div class="shoppingCart__inner__main__cards-item">
    <img [src]="item.images[0]" alt="" class="shoppingCart__inner__main__cards-item-img">
    <div class="shoppingCart__inner__main__cards-item-info">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
    </div>
    <div class="shoppingCart__inner__main__cards-item-price">
        ${{ item.price }}
    </div>
    <div class="shoppingCart__inner__main__cards-item-btns">
        <button class="shoppingCart__inner__main__cards-item-btns-btn" (click)="changeQuantity(item, '-')" >-</button>
        <span>{{ item.quantity }}</span>
        <button class="shoppingCart__inner__main__cards-item-btns-btn" (click)="changeQuantity(item, '+')" >+</button>
    </div>
    <div class="shoppingCart__inner__main__cards-item-total">
        ${{ item.price * item.quantity }}
    </div>
    <button class="shoppingCart__inner__main__cards-item-trash" >
        <img (click)="deleteItem(item)" src="../../../../assets/images/trash.svg" alt="" srcset="" >
    </button>
</div>