<div class="shoppingCart">
    <div class="routes container">
        <a routerLink="/">
            <span>Home/</span>
        </a>
        Shopping Card
    </div>
    <div class="shoppingCart__inner container">
        <div class="shoppingCart__inner__main">
            <div class="shoppingCart__inner__main__headers">
                <h4 class="shoppingCart__inner__main__headers-title">Products</h4>
                <h4 class="shoppingCart__inner__main__headers-title">Price</h4>
                <h4 class="shoppingCart__inner__main__headers-title">Quantity</h4>
                <h4 class="shoppingCart__inner__main__headers-title">Total</h4>
            </div>
            <div class="shoppingCart__inner__main__cards">
                <!-- <OrdersItem v-for="(item, i) in getItemsFromShop" :key="i" :item="item" /> -->
                <app-cart-item *ngFor="let item of cartArr" [item]="item" (deleteItemEmit)="getCart()" ></app-cart-item>
            </div>
        </div>
        <div class="shoppingCart__inner__total">
            <h3>Cart Totals</h3>
            <div class="shoppingCart__inner__total__info">
                <div class="shoppingCart__inner__total__info-item">
                    <span class="shoppingCart__inner__total__info-item-name">Subtotal</span>
                    <span class="shoppingCart__inner__total__info-item-amount">${{ 0 }}</span>
                </div>
                <div class="shoppingCart__inner__total__info-item">
                    <span class="shoppingCart__inner__total__info-item-name">Total Discount</span>
                    <span class="shoppingCart__inner__total__info-item-amount">(-) ${{ 0 }}</span>
                </div>
                <div class="shoppingCart__inner__total__info-item">
                    <span class="shoppingCart__inner__total__info-item-name">Shiping</span>
                    <span class="shoppingCart__inner__total__info-item-amount">${{ 0 }}</span>
                </div>
                <a class="shoppingCart__inner__total__info-charge">
                    View shipping charge
                </a>
                <div class="shoppingCart__inner__total__info-item">
                    <span class="shoppingCart__inner__total__info-item-name">Total</span>
                    <span class="shoppingCart__inner__total__info-item-amountTotal">${{ 0 }}</span>
                </div>
            </div>
            <a routerLink="/payments">
                <button class="shoppingCart__inner__total-btn">
                    Proceed To Checkout
                </button>
            </a>
            <a routerLink="/">
                <h5 class="shoppingCart__inner__total-continue">
                    Continue Shopping
                </h5>
            </a>
        </div>
    </div>

    <div class="productCard__recommendations container" v-if="getIndexStore">
        <div class="productCard__recommendations-title">
            <h3>You may be interested in</h3>
        </div>
        <div class="productCard__recommendations__goods" v-if="getIndexStore">
            <swiper-container :slides-per-view="1">
                <swiper-slide class="productCard__recommendations__goods__slide">
                    <!-- <MainGoodsItem v-for="(item, i) in getIndexStore.slice(0, 4)" :key="i" :item="item" /> -->
                </swiper-slide>
                <swiper-slide class="productCard__recommendations__goods__slide">
                    <!-- <MainGoodsItem v-for="(item, i) in getIndexStore.slice(4, 8)" :key="i" :item="item" /> -->
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</div>
