<footer class="footer">
  <div class="footer__inner container">
    <img src="../../../assets/images/logofooter.svg" alt="" srcset="">
    <div class="footer__inner__nav">
      <ul class="footer__inner__nav__list">
        <div>
          <li><a routerLink="/" class="footer__inner__nav__list-item">Home</a></li>
          <li><a routerLink="/selected" class="footer__inner__nav__list-item">Selected Products</a></li>
        </div>
        <div>
          <li><a routerLink="/payments" class="footer__inner__nav__list-item">Payment and delivery</a></li>
          <li><a class="footer__inner__nav__list-item" routerLink="/cart">Shop</a></li>
        </div>
      </ul>
    </div>
    <div class="footer__inner__contacts">
      <h4>Contacts</h4>
      <ul>
        <li><img src="../../../assets/images/location.svg" alt="">70 West Buckingham Ave.
          Farmingdale, NY 11735</li>
        <li><img src="../../../assets/images/phone.svg" alt="">+88 01911 717 490</li>
        <li><img src="../../../assets/images/mail.svg" alt="">contact&#64;sportdriven.com</li>
      </ul>
    </div>
  </div>
</footer>
