<nav class="header">
  <div class="header__inner container">
    <a class="header__inner-logo" routerLink="/">
      <img src="../../../assets/images/logo.svg" alt="">
    </a>
    <ul class="header__inner-list">
      <li>
        <a routerLinkActive="active" routerLink="/main" class="header__inner-list-item">
          Home
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/selected" class="header__inner-list-item">
          Selected Products
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/payments" class="header__inner-list-item">
          Payment and delivery
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/contacts" class="header__inner-list-item">
          Contacts
        </a>
      </li>
    </ul>
    <div class="burgerMenu">
      <div class="burgerMenu__inner">
        <ul class="burgerMenu__inner-list">
          <li class="burgerMenu__inner-list-close">
            <img src="../../../assets/images/close.svg" alt="">
          </li>
          <li>
            <a routerLink="/" class="burgerMenu__inner-list-item">
              Home
            </a>
          </li>
          <li>
            <a routerLink="/like" class="burgerMenu__inner-list-item">
              Selected Products
            </a>
          </li>
          <li>
            <a routerLink="/payment" class="burgerMenu__inner-list-item">
              Payment and delivery
            </a>
          </li>
          <li class="burgerMenu__inner-list-item">Contacts</li>
        </ul>
      </div>
    </div>
    <div class="header__inner__right">
      <a routerLink="/cart" class="header__inner__right-shop">
        <div class="header__inner__right-shop-counter">{{ counter }}</div>
        <img src="../../../assets/images/cart.svg" alt="" class="header__inner__right-cart">
      </a>
      <div class="burger">
        <!-- <img NgOptimizedImage ngSrc="../../../assets/images/burger.png" width="60" height="60" alt=""> -->
      </div>
    </div>
  </div>
</nav>