<div class="mainGoods__inner__pagination" ref="paginateRefs">
    <div href="#" class="mainGoods__inner__pagination-item backArrow">
        <img src="../../../../../assets/images/nextPage.svg" alt="">
    </div>
    <div href="#" class="mainGoods__inner__pagination-item">
        <!-- :class="{ active: item === page }" @click="paginateGoods(item)">
        {{ item }} -->
        1
    </div>
    <div href="#" class="mainGoods__inner__pagination-item">
        <!-- :class="{ active: item === page }" @click="paginateGoods(item)">
        {{ item }} -->
        2
    </div>
    <div href="#" class="mainGoods__inner__pagination-item">
        <!-- :class="{ active: item === page }" @click="paginateGoods(item)">
        {{ item }} -->
        3
    </div>
    <div href="#" class="mainGoods__inner__pagination-item">
        <!-- :class="{ active: item === page }" @click="paginateGoods(item)">
        {{ item }} -->
        4
    </div>
    <div href="#" class="mainGoods__inner__pagination-item">
        <img src="../../../../../assets/images/nextPage.svg" alt="">
    </div>
</div>
