<div class="payment">
  <div class="routes container">
    <a routerLink="/">
      <span>Home/</span>
    </a>
    Payment And Delivery
  </div>
  <div class="payment__inner container" *ngIf="cart.products.length != 0; else other_content">
    <div class="payment__inner__forms">
      <h3>Billing Address</h3>
      <form action="">
        <div class="payment__inner__forms-item">
          <span>First Name <span>*</span></span>
          <input type="text" [formControl]="firstName">
          <div *ngIf="firstName.touched && firstName.invalid">
            <span *ngIf="firstName.errors.required">First Name is required.</span>
            <span *ngIf="firstName.errors.minlength">First Name must be at least 3 characters.</span>
            <span *ngIf="firstName.errors.maxlength">First Name cannot exceed 30 characters.</span>
          </div>
        </div>
        <div class="payment__inner__forms-item">
          <span>Last Name <span>*</span></span>
          <input type="text" [formControl]="lastName">
          <div *ngIf="lastName.touched && lastName.invalid">
            <span *ngIf="lastName.errors.required">Last Name is required.</span>
            <span *ngIf="lastName.errors.minlength">Last Name must be at least 3 characters.</span>
            <span *ngIf="lastName.errors.maxlength">Last Name cannot exceed 30 characters.</span>
          </div>
        </div>
        <div class="payment__inner__forms-item">
          <span>Country / Region <span>*</span></span>
          <input type="text" placeholder="Select a country / region" [formControl]="country">
          <div *ngIf="country.touched && country.invalid">
            <span *ngIf="country.errors.required">
              Country / Region is required.
            </span>
          </div>
        </div>
        <div class="payment__inner__forms-item">
          <span>Town / City <span>*</span></span>
          <input type="text" [formControl]="city">
          <div *ngIf="city.touched && city.invalid">
            <span *ngIf="city.errors.required">
              City is required.
            </span>
          </div>
        </div>
        <div class="payment__inner__forms-item payment__inner__forms-itemStreet">
          <span>Street Address <span>*</span></span>
          <div>
            <input type="text" placeholder="House number and street name" [formControl]="street">
            <input type="text" placeholder="Appartment, suite, unit, etc. (optional)">
          </div>
          <div *ngIf="street.touched && street.invalid">
            <span *ngIf="street.errors.required">
              Street address is required.
            </span>
          </div>
        </div>
        <div class="payment__inner__forms-item">
          <span>Email address <span>*</span></span>
          <input type="text" [formControl]="emailAddress">
          <div *ngIf="emailAddress.touched && emailAddress.invalid">
            <span *ngIf="emailAddress.errors.email">
              Email address is required.
            </span>
          </div>
        </div>
        <div class="payment__inner__forms-item">
          <span>Phone Number <span>*</span></span>
          <div>
            <select name="" id="">
              <option value="+998">+998</option>
              <option value="+1">+1</option>
              <option value="+3">+3</option>
            </select>
            <input type="text" [formControl]="phoneNumber">
          </div>
          <div *ngIf="phoneNumber.touched && phoneNumber.invalid">
            <span *ngIf="phoneNumber.errors.pattern">
              Phone number must include only numbers.
            </span>
          </div>
        </div>
      </form>
      <div class="payment__inner__forms-diff">
        <input type="checkbox" name="" id="">
        <span>Ship to a different address?</span>
      </div>
      <div class="payment__inner__forms-notes">
        <span>Order notes (optional)</span>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="payment__inner__order">
      <h3 class="payment__inner__info-title">Your Order</h3>
      <div class="payment__inner__info">
        <div class="payment__inner__info__headers">
          <h4>Products</h4>
          <h4>Subtotal</h4>
        </div>

        <div class="payment__inner__info__order-cards">
          <div class="payment__inner__info__order-cards-item" *ngFor="let item of cart.products">
            <img [src]="item.images[0]" alt="" class="payment__inner__info__order-cards-item-img">
            <div class="payment__inner__info__order-cards-item-info">
              <h3>{{ item.title }}</h3>
              <p>{{ item.description }}</p>
            </div>
            <div class="payment__inner__info__order-cards-item-btns">
              (x{{ item.quantity }})
            </div>
            <div class="payment__inner__info__order-cards-item-total">
              ${{ item.price * item.quantity }}
            </div>
          </div>
        </div>
        <div class="payment__inner__info__order__money">
          <div class="payment__inner__info__order__money-item">
            <span class="payment__inner__info__order__money-item-name">Subtotal</span>
            <span class="payment__inner__info__order__money-item-amount">${{ cart.subTotalPrice }}</span>
          </div>
          <div class="payment__inner__info__order__money-item">
            <span class="payment__inner__info__order__money-item-name">Total Discount</span>
            <span class="payment__inner__info__order__money-item-amount">(-)
              ${{ cart.subTotalPrice - cart.totalPrice }}</span>
          </div>
          <div class="payment__inner__info__order__money-item">
            <span class="payment__inner__info__order__money-item-name">Shiping</span>
            <span class="payment__inner__info__order__money-item-amount">${{ 16 }}</span>
          </div>
          <a class="payment__inner__info__order__money-charge">
            View shipping charge
          </a>
          <div class="payment__inner__info__order__money-item">
            <span class="payment__inner__info__order__money-item-name">Total</span>
            <span class="payment__inner__info__order__money-item-amountTotal">${{ cart.totalPrice }}</span>
          </div>
        </div>
        <button class="payment__inner__info__order__money-btn" (click)="flag = true">
          Place Order
        </button>
      </div>
    </div>
  </div>
  <ng-template #other_content>
    <div class="empty">
      Ничего нет!
    </div>
  </ng-template>

</div>

<payments-modal *ngIf="flag" (closeModalEmitter)="flag = false"></payments-modal>
