<div class="shoppingCart__inner__main__cards-item">
    <img :src="item.images[0]" alt="" class="shoppingCart__inner__main__cards-item-img">
    <div class="shoppingCart__inner__main__cards-item-info">
        <h3>{{ 'Iphone 9' }}</h3>
        <p>{{ 'lorem' }}</p>
    </div>
    <div class="shoppingCart__inner__main__cards-item-price">
        ${{ 0 }}
    </div>
    <div class="shoppingCart__inner__main__cards-item-btns">
        <button class="shoppingCart__inner__main__cards-item-btns-btn">-</button>
        <span>{{ 0 }}</span>
        <button class="shoppingCart__inner__main__cards-item-btns-btn">+</button>
    </div>
    <div class="shoppingCart__inner__main__cards-item-total">
        ${{ 0 }}
    </div>
    <button class="shoppingCart__inner__main__cards-item-trash" >
        <img src="@/assets/images/trash.svg" alt="" srcset="">
    </button>
</div>